USE [master]
GO
/****** Object:  Database [QLNV]    Script Date: 05/12/2024 10:17:37 CH ******/
CREATE DATABASE [QLNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERA40\MSSQL\DATA\QLNV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERA40\MSSQL\DATA\QLNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNV]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dateAttendance] [datetime2](7) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nofications]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nofications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Nofications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[TotalHoursWorked] [int] NOT NULL,
	[TotalSalary] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedules]    Script Date: 05/12/2024 10:17:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkDate] [datetime2](7) NOT NULL,
	[Shift] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_WorkSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241008100501_InitialCreate', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241011024221_UpdateTables', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241011150238_InitialCreated', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([Id], [dateAttendance], [EmployeeId]) VALUES (494, CAST(N'2024-09-02T14:09:47.0000000' AS DateTime2), 19)
INSERT [dbo].[Attendances] ([Id], [dateAttendance], [EmployeeId]) VALUES (495, CAST(N'2024-09-02T14:47:31.0000000' AS DateTime2), 20)
INSERT [dbo].[Attendances] ([Id], [dateAttendance], [EmployeeId]) VALUES (496, CAST(N'2024-09-02T14:39:19.0000000' AS DateTime2), 21)
GO
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Username], [FullName], [Password], [Gender], [Address], [Phone], [Role]) VALUES (2, N'admin123', N'Admin', N'12345', N'Male', N'Ha Noi', N'0966492743', N'ADMIN')
INSERT [dbo].[Employees] ([Id], [Username], [FullName], [Password], [Gender], [Address], [Phone], [Role]) VALUES (19, N'user01', N'John Doe', N'Pass@123', N'Male', N'123 Elm St, NY', N'555-123-4567', N'USER')
INSERT [dbo].[Employees] ([Id], [Username], [FullName], [Password], [Gender], [Address], [Phone], [Role]) VALUES (20, N'user02', N'Jane Smith', N'Pass@456', N'Female', N'456 Maple Ave, CA', N'555-234-5678', N'USER')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Nofications] ON 

INSERT [dbo].[Nofications] ([Id], [Title], [Content], [CreatedAt], [EmployeeId]) VALUES (1, N'Tất cả chú ý', N'Mai đi làm đầy đủ', CAST(N'2024-10-17T21:52:50.9587417' AS DateTime2), 2)
INSERT [dbo].[Nofications] ([Id], [Title], [Content], [CreatedAt], [EmployeeId]) VALUES (2, N'Lịch nghỉ lễ', N'2/9 được nghỉ 3 ngày', CAST(N'2024-10-17T21:58:17.6515772' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Nofications] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([Id], [Month], [Year], [TotalHoursWorked], [TotalSalary], [EmployeeId]) VALUES (3, 9, 2024, 25, 2500000, 19)
INSERT [dbo].[Salary] ([Id], [Month], [Year], [TotalHoursWorked], [TotalSalary], [EmployeeId]) VALUES (4, 10, 2024, 27, 2700000, 19)
INSERT [dbo].[Salary] ([Id], [Month], [Year], [TotalHoursWorked], [TotalSalary], [EmployeeId]) VALUES (5, 11, 2024, 26, 2600000, 19)
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] ON 

INSERT [dbo].[WorkSchedules] ([Id], [WorkDate], [Shift], [EmployeeId]) VALUES (957, CAST(N'2024-09-02T00:00:00.0000000' AS DateTime2), N'Morning', 19)
INSERT [dbo].[WorkSchedules] ([Id], [WorkDate], [Shift], [EmployeeId]) VALUES (958, CAST(N'2024-09-03T00:00:00.0000000' AS DateTime2), N'Morning', 19)
INSERT [dbo].[WorkSchedules] ([Id], [WorkDate], [Shift], [EmployeeId]) VALUES (959, CAST(N'2024-09-04T00:00:00.0000000' AS DateTime2), N'Morning', 19)
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] OFF
GO
/****** Object:  Index [IX_Attendances_EmployeeId]    Script Date: 05/12/2024 10:17:38 CH ******/
CREATE NONCLUSTERED INDEX [IX_Attendances_EmployeeId] ON [dbo].[Attendances]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nofications_EmployeeId]    Script Date: 05/12/2024 10:17:38 CH ******/
CREATE NONCLUSTERED INDEX [IX_Nofications_EmployeeId] ON [dbo].[Nofications]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salary_EmployeeId]    Script Date: 05/12/2024 10:17:38 CH ******/
CREATE NONCLUSTERED INDEX [IX_Salary_EmployeeId] ON [dbo].[Salary]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkSchedules_EmployeeId]    Script Date: 05/12/2024 10:17:38 CH ******/
CREATE NONCLUSTERED INDEX [IX_WorkSchedules_EmployeeId] ON [dbo].[WorkSchedules]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Nofications]  WITH CHECK ADD  CONSTRAINT [FK_Nofications_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nofications] CHECK CONSTRAINT [FK_Nofications_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedules_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkSchedules] CHECK CONSTRAINT [FK_WorkSchedules_Employees_EmployeeId]
GO
USE [master]
GO
